<div class="container-fluid" >
	<div class="card mb-4" style="border: none;">
		<div class="card-body text-center">
			<h5 class="card-title text-dark text-uppercase">
				<strong><%= @craft.title %></strong>
				<span id="1<%= @craft.id %>"></span>
				<% if @craft.availability == false %>
					<img src="https://www.thedoggurus.com/wp-content/uploads/2016/05/UhOh-png-web.png" style="height: 21px; width: 40px;">
				<% end %>
			</h5>
			<h6><span id="2<%= @craft.id %>"></span></h6>
			<% if @craft.user.id == current_user.id || current_user.admin? %>
				<h6>
					<%= form_with scope: :craft, method: :patch, url: craft_path, remote: true do |f| %>
						<form>
							<div class="form-check form-check-inline">
								<%= f.radio_button :availability, "false", class:"form-check-input", type:"radio", id:"inlineRadio1" %>
								<label class="form-check-label" for="inlineRadio1">True</label>
							</div>
							<div class="form-check form-check-inline">
								<%= f.radio_button :availability, "true", class:"form-check-input", type:"radio", id:"inlineRadio2" %> 
								<label class="form-check-label" for="inlineRadio1">False</label>
							</div>
							<%= f.submit "This workshop is fully booked!!", class:"btn-sm btn-outline-dark", id:"submit_availability" %>
						</form>
					<% end %>
				</h6>
			<% end %>
			<% if @craft.user.id == current_user.id && @craft.latitude == nil && @craft.longitude == nil %>
				<div id="mark_location">
					<h6>
						<small>Save your location to enable your workshop to be shown on the map in <strong>CRAFTER</strong>!</small>
					</h6> 
					<h6>
						<%= link_to 'Save my location', save_location_path(@craft), class: "btn btn-sm btn-outline-dark" %>
					</h6>
				</div>
			<% end %>
			<h6 class="card-text text-uppercase"><small>Instructed by <strong><a class="text-dark effect-shine text-uppercase" style="text-decoration: none;" href="/users/<%= @craft.user_id %>"><%= @craft.host_name %></a></strong></small></h6>
		</div>
		<img class="card-img-bottom" src="https://acpknighttimes.com/wp-content/uploads/2017/08/Art.jpg" alt="Card image cap">
		<div class="card-body text-center">
			<h6><%= @craft.description %></h6>
		</div>
		<hr />
		<div class="card-body">
			<h6 class="card-text">Category: <%= @craft.craft_type %></h6>
			<h6 class="card-text">Level: <%= @craft.level %></h6>
			<h6 class="card-text">Date: <%= @craft.date.strftime("%d/%m/%Y") %></h6>
			<h6 class="card-text">Time: <%= @craft.start_time %> to <%= @craft.end_time %></h6>
			<h6 class="card-text">Venue: <%= @craft.venue %></h6>
			<h6 class="card-text">Price: RM<%= @craft.price.round(0) %> per person</h6>
			<h6 class="card-text">What does it include?</h6>
			<h6 class="card-text"><%= @craft.inclusive %></h6>
		</div>
		<hr />
		<div class="card-body text-center">
			<h6 class="card-text">
				<% if @craft.availability == false %>
					For more information,
				<% else %>
					To book or for more information,
				<% end %>
				please contact <%= @craft.host_name %> through phone <%= @craft.phone %> or email <a href="mailto:<%= @craft.user.email %>"><%= @craft.user.email %></a>.
			</h6>
		</div>
		<div class="text-center">
			<% if @craft.user.id == current_user.id || current_user.admin? %>
				<%= link_to 'Edit workshop', edit_craft_path(@craft), class:"btn btn-outline-dark btn-sm" %>
			<% end %>
		</div>
	</div>

	<hr />

	<div class="text-center mt-4 mb-4">
		<%= link_to 'ALL WORKSHOPS', crafts_path, class:"btn btn-outline-dark btn-sm" %>
	</div>
</div>

<% if @craft.user.id == current_user.id && @craft.latitude == nil && @craft.longitude == nil %>
	<script>

    	$(document).ready(function(){

			var pos = "";

		    $('#mark_location').hide();

		    // HTML5 geolocation
		    if (navigator.geolocation) {
		      navigator.geolocation.getCurrentPosition(function(position) {
		        pos = {
		          latitude: position.coords.latitude,
		          longitude: position.coords.longitude,
		          authenticity_token: AUTH_TOKEN,
		        };

				$('#mark_location').show();
		        console.log(pos)
				$('#mark_location').on('click', function(e){
					e.preventDefault();
					console.log(this)

					$.ajax({
						url: '/crafts/<%= @craft.id %>/save_location',
						method: "POST",
						data: pos,
						dataType: 'json',
						success: function(data){
						  // refactor here (insert message instead of flash in events_controller)
						  location.reload();
						}
					});
				})

		      });
		    } else {
		      // Browser doesn't support Geolocation
		      alert('Geolocation is not supported for this Browser/OS version yet.');
		    }
      
  		});

    </script>
<% end %>







