<div class="container-fluid" style="padding-bottom: 2%; padding-left: 2%; padding-right: 2%;">

	<h2 class="text-center">Sign In</h2>
	
		<%= form_with url: sessions_path, local:true do |f| %>
			<form>
				<div style="width: 60%; margin: auto;">
					<div class="form-group row mt-4">
						<%= f.label :username, class:"col-sm-2 col-form-label" %>
						<div class="col-sm-10">
							<%= f.text_field :username, placeholder: 'Insert your Username', :required => true, class:"form-control" %>
						</div>
					</div>

					<div class="form-group row mt-4">
						<%= f.label :password, class:"col-sm-2 col-form-label" %>
						<div class="col-sm-10">
							<%= f.password_field :password, placeholder: 'Insert Password', :required => true, class:"form-control" %>
						</div>
					</div>
				</div>

				<div class="text-center" style="width: 100%">
					<div>
						<%= f.check_box :remember_me %> 
						<%= f.label :remember_me, class:"col-sm-2 col-form-label" %>
					</div>

					<div class="mt-2">
						<%= f.submit "Sign In", class:"btn-sm btn-outline-dark" %>
					</div>
				</div>
			</form>
		<% end %>
	

</div>

