<h2>Admin Page</h2>

<h4>Total number of users: <%= @users.all.count %></h4>

<% i = 1 %>
<% @users.order("username ASC").each do |user| %>
	<h4>
		<%= i.to_s %>.
		<a href="/users/<%= user.id %>"><%= user.username %></a>
		<br />
		<%= user.email %>
	</h4>
	<% i += 1 %>
<% end %>