<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= link_to 'CraftWorkshop', homepage_path %>
    <% else %>
      <%= link_to 'CraftWorkshop', root_path %>
    <% end %>

    <% if current_user %>
      Hello, <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>!
      <% if current_user.admin? %>
        <%= link_to 'All users', users_path %>
      <% end %>
      <%= link_to 'Host a workshop!', new_craft_path %>
      <%= link_to 'Sign Out', session_path('id'), method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', sign_up_path %>
      <%= link_to 'Sign In', sign_in_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
