<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= link_to 'CraftWorkshop', homepage_path %>
    <% else %>
      <%= link_to 'CraftWorkshop', root_path %>
    <% end %>

    <% if current_user %>
      Hello, <%= current_user.username %>!
      <%= link_to 'Sign Out', session_path('id'), method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', sign_up_path %>
      <%= link_to 'Sign In', sign_in_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
