<!DOCTYPE html>
<html>
  <head>
    <title>CRAFTER</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #fff; padding:1.5%; border-bottom: #f9f9f9;">
      <div class="container">
        <a class="navbar-brand effect-shine" href="/"><strong>CRAFTER</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-heart-o"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"> 
            <% if current_user %>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%= current_user.id %>">Profile</a>
              </li>
              <% if current_user.admin? %>
                <li class="nav-item">
                  <a class="nav-link" href="/users">All Users</a>
                </li>
              <% end %> 
              <li class="nav-item">
                <a class="nav-link" href="/crafts/new">Host a Workshop!</a>
              </li>
              <li class="nav-item">
                  <%= link_to 'FAQ', faq_path, class:"nav-link" %>
                </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', session_path('id'), method: :delete, class:"nav-link" %>
              </li>
            <% else %>
              <% if request.path_info == '/sign_in' %>
                <li class="nav-item">
                  <%= link_to 'Sign Up', sign_up_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'FAQ', faq_path, class:"nav-link" %>
                </li>
              <% elsif request.path_info == '/sign_up' %>
                <li class="nav-item">
                  <%= link_to 'Sign In', sign_in_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'FAQ', faq_path, class:"nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Sign Up', sign_up_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sign In', sign_in_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'FAQ', faq_path, class:"nav-link" %>
                </li>
              <% end %>
            <% end %>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>  -->
          </ul>
          <!-- search bar starts here -->
          <div class="form-inline my-2 my-lg-0">
            <%= form_with url: search_crafts_path, method: :get, id: "workshop_search", local:true do |f| %>
              <input name="find_word" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height: 32px;" id="find_word"> 
              <button class="btn btn-outline-secondary my-2 my-sm-0 fa fa-search" type="submit"></button>
            <% end %>
          </div> 
          <!-- end of search bar -->
        </div>
      </div>
    </nav>

    <!-- flash will show on top of each page, unless this is removed (then self specification is required) -->
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div class="alert alert-info" id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>

